@font-face {
    font-family: "Hanken Grotesk";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../assets/fonts/hanken-grotesk-300.ttf") format("truetype");
}

@font-face {
    font-family: "Hanken Grotesk";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/hanken-grotesk-400.ttf") format("truetype");
}

@font-face {
    font-family: "Hanken Grotesk";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../assets/fonts/hanken-grotesk-500.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../assets/fonts/montserrat-300.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/montserrat-400.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/montserrat-400-italic.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../assets/fonts/montserrat-500.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../assets/fonts/montserrat-600.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../assets/fonts/montserrat-700.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../assets/fonts/montserrat-800.ttf") format("truetype");
}

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100;
    font-display: block;
    src: url("../assets/fonts/material-symbols-100.ttf") format("truetype");
}

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 200;
    font-display: block;
    src: url("../assets/fonts/material-symbols-200.ttf") format("truetype");
}

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url("../assets/fonts/material-symbols-300.ttf") format("truetype");
}

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../assets/fonts/material-symbols-400.ttf") format("truetype");
}

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url("../assets/fonts/material-symbols-500.ttf") format("truetype");
}

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url("../assets/fonts/material-symbols-600.ttf") format("truetype");
}

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url("../assets/fonts/material-symbols-700.ttf") format("truetype");
}

.material-symbols-outlined {
    direction: ltr;
    display: inline-block;
    font-family: "Material Symbols Outlined";
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
}
