<section class="py-section-padding bg-white" id="contact">
<div class="site-container">
<div class="grid gap-24 place-items-center">
<div class="space-y-12 text-center flex flex-col items-center">
<h2 class="text-6xl md:text-8xl font-extrabold uppercase leading-none kerning-tight" data-i18n-html="contact.title">Let's <br/> talk.</h2>
<div class="space-y-8">
<div class="flex flex-wrap items-center justify-center gap-6">
<span class="material-symbols-outlined font-light">location_on</span>
<span class="text-[11px] uppercase tracking-widest font-medium" data-i18n="contact.location">Hamburg, Deutschland</span>
</div>
<div class="flex flex-wrap items-center justify-center gap-6">
<span class="material-symbols-outlined font-light">mail</span>
<span class="text-[11px] uppercase tracking-widest font-medium">info@prinz-entertainment.de</span>
</div>
</div>
<div class="pt-12">
<img alt="Logo" class="h-16 opacity-10 mx-auto" src="assets/prinz-logo-mark.png"/>
</div>
</div>
</div>
</div>
</section>
